[Unit]
Description=Sets hostname based on the mac address to hostname map
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/hostname-automap
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
